<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Employee Detail</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="emp-detail-body" th:object="${employee}">
<h1 class="delete-warn-msg">You are about to delete the following user...press delete in end to delete!</h1>
<p class="emp-name-detail" th:text="${employee.name}"></p>
<p class="emp-designation" th:text="${employee.designation}"></p>
<p class="emp-department" th:text="${employee.department}"></p>
<p class="emp-email" th:text="${employee.email}"></p>
<p class="emp-address" th:text="${employee.address}"></p>
<a  th:href="@{/employee/{empId}/confirm/delete(empId=${employee.id})}"><button class="delete-btn-confirm">Delete</button></a>
<a th:href="@{/employees}"><button class="back-btn">Back</button></a>
</body>
</html>