<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Employee Detail</title>
</head>
<body th:object="${employee}">
<h1>You are about to delete the following user press delete in end to delete!</h1>
<p th:text="${employee.id}"></p>
<p th:text="${employee.name}"></p>
<p th:text="${employee.address}"></p>
<p th:text="${employee.department}"></p>
<p th:text="${employee.designation}"></p>
<p th:text="${employee.email}"></p>
<a  th:href="@{/employee/{empId}/confirm/delete(empId=${employee.id})}"><button>Delete</button></a>
</body>
</html>